---
drop_old_db: true
db:
    host: 127.0.0.1
    port: 3306
    name: test
    user: root
    password: bernie
web:
    service_dir: api
    url_root: /
    assets: assets
    login_url: http://example.com/login
    signup_url:  http://example.com/signup
    api_key: 12345678901234567890123456789012
salt: [2, 3, 5, 7, 8, 13, 14, 20]
pepper: ___[]+++
architecture:
    use_for_permission: role
    use_for_auth: user
    models:
        role:
            name_plural: roles
            permissions:
                create:
                    - admin
                read:
                    - self
                    - admin
                update:
                    - admin
                delete:
                    - admin
            properties:
                permissions:
                    create:
                        - user
                    read:
                        - self
                        - admin
                    update:
                        - admin
                list:
                    type:
                        use_as_id: true
                        type: string
                        max_length: 255
            relations:
                users:
                    model: user
                    type: belongs_to_and_has_many
                    via_table: users_roles
                    permissions:
                        create:
                            - admin
                        read:
                            - self
                            - admin
                        delete:
                            - admin
            instances:
                - type: user
                - type: admin
        user:
            name_plural: users
            permissions:
                create:
                    - all
                read:
                    - self
                    - user
                    - admin
                update:
                    - self
                    - admin
                delete:
                    - self
                    - admin
            properties:
                permissions:
                    create:
                        - user
                    read:
                        - all
                    update:
                        - self
                        - admin
                list:
                    email:
                        type: email
                        use_as_id: true,
                    password:
                        type: hash
                        use_as_password: true
                        permissions:
                            read:
                                - none
                    name:
                        type: string
                        validation: 'max:255|min:2'
                        null_allowed: true
            relations:
                roles:
                    model: role
                    type: belongs_to_and_has_many
                    via_table: users_roles
                    permissions:
                        create:
                            - admin
                        read:
                            - self
                            - admin
                        delete:
                            - admin
                question:
                    model: question
                    type: has_many
                    permissions:
                        create:
                            - self
                            - admin
                        read:
                            - all
                        update:
                            - self
                            - admin
                        delete:
                            - none
                answers:
                    model: answer
                    type: has_many
                    permissions:
                        create:
                            - self
                            - admin
                        read:
                            - all
                        update:
                            - self
                            - admin
                        delete:
                            - none
            assign_to_after_creation:
                - admin
                - user
        tag:
            name_plural: tags
            permissions:
                create:
                    - user
                    - admin
                read:
                    - all
                update:
                    - admin
                delete:
                    - admin
            properties:
                permissions:
                    create:
                        - all
                    read:
                        - all
                    update:
                        - admin
                list:
                    name:
                        type: string
                        max_length: 255
                        default: tag_name
            relations:
                questions:
                    model: question
                    type: belongs_to_and_has_many
                    via_table: questions_tags
                    permissions:
                        create:
                            - user
                            - admin
                        read:
                            - all
                        delete:
                            - admin
        question:
            name_plural: questions
            permissions:
                create:
                    - all
                read:
                    - all
                update:
                    - user
                    - admin
                delete:
                    - self
                    - admin
            properties:
                permissions:
                    create:
                        - all
                    read:
                        - all
                    update:
                        - user
                        - admin
                list:
                    title:
                        type: string
                        max_length: 255
                    text:
                        type: string
                    upvotes:
                        type: int
                    created:
                        type: datetime
                        default: now
                        permissions:
                            update:
                                - none
                    edited:
                        type: datetime
                        default: now
                        null_allowed: true
            relations:
                user:
                    model: user
                    type: belongs_to
                    permissions:
                        create:
                            - user
                            - admin
                        read:
                            - all
                        delete:
                            - self
                            - admin
                tags:
                    model: tag
                    type: belongs_to_and_has_many
                    via_table: questions_tags
                    permissions:
                        create:
                            - user
                            - admin
                        read:
                            - all
                        delete:
                            - self
                            - admin
                answers:
                    model: answer
                    type: has_many
                    permissions:
                        create:
                            - user
                            - admin
                        read:
                            - all
                        delete:
                            - self
                            - admin
        answer:
            name_plural: answers
            permissions:
                create:
                    - user
                    - admin
                read:
                    - user
                    - admin
                update:
                    - user
                    - admin
                delete:
                    - user
                    - admin
            properties:
                permissions:
                    create:
                        - all
                    read:
                        - all
                    update:
                        - user
                        - admin
                list:
                    text:
                        type: string
                    created:
                        type: datetime
                        default: now
                        permissions:
                            update:
                                - none
                    edited:
                        type: datetime
                        null_allowed: true
                    accepted:
                        type: bool
                        default: false
                    upvotes:
                        type: int
                    downvotes:
                        type: int
                    dummy:
                        type: float
            relations:
                user:
                    model: user
                    type: belongs_to
                    permissions:
                        create:
                            - user
                            - admin
                        read:
                            - all
                        delete:
                            - self
                            - admin
                question:
                    model: question
                    type: belongs_to
                    permissions:
                        create:
                            - user
                            - admin
                        read:
                            - all
                        delete:
                            - self
                            - admin
...